@model PasswordManagementSystem.Models.User


@{
    Layout = "~/Views/Shared/AdminSideMenuLayout.cshtml";
}

<header>
    <h1>Admin Dashboard</h1>
    <div class="user-info">
        <span>@Model.Name</span>
    </div>
</header>
<main>
    <h2>Welcome, @Model.Name!</h2>
    <p>This is the home page of your admin dashboard.</p>
</main>
