@model IEnumerable<PasswordManagementSystem.Core.Models.Role>

@{
    Layout = "~/Views/Shared/AdminSideMenuLayout.cshtml";
}

@section Styles {
    <link href="~/css/admin/RoleListing.css" rel="stylesheet">
}

<div class="container">
    <h1>Role Listing</h1>
    @foreach (var role in Model)
    {
        <div class="role-section">
            <h2>@role.RoleName</h2>
            <ul class="user-list">
                @foreach (var user in role.Users)
                {
                    <li>@user.Name (@user.Email)</li>
                }
            </ul>
        </div>
    }
</div>
