@model IEnumerable<PasswordManagementSystem.Models.Log>

@{
    Layout = "~/Views/Shared/AdminSideMenuLayout.cshtml";
}

@section Styles {
    <link href="~/css/admin/company-logs.css" rel="stylesheet">
}

<div class="container">
    <h1>Company Logs</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>User ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model)
            {
                <tr>
                    <td>@log.Date</td>
                    <td>@log.UserId</td>
                    <td>@log.Action</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        // Additional JavaScript if needed
    </script>
}
