@model IEnumerable<PasswordManagementSystem.Models.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="~/css/user/user-listing.css" rel="stylesheet">
}

<div class="container">
    <h1>User List</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                </tr>
            }
        </tbody>
    </table>
</div>
